<%- include('../../partials/header.ejs') %>
<body>


    <div class="row">
        <%- include('../../partials/navbar.ejs') %>

        <nav class="menu  col">
            <div class="logout-menu space">
                <h1>Menu Dashboard</h1>
                <a href="/logout" class="nav-link">Logout</a>         
            </div>

            <div class="container">
                <form method="Post"  action="/admin/articles/save" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-7 space">
                            <div class="card-header">
                                <h3>Novo Artigo</h3>
                            </div>
                            <div class="card-body">
                                
                                    <label for="title">Artigo</label><br>
                                    <input type="text" name="title" id="title" placeholder="Título do Artigo" class="" required><br>
                                    <textarea id="article" name="body" placeholder="Descrição do Artigo" class="form-control"></textarea><br>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                
                            </div>
                        </div>
                        <div class="col space">
                            <div class="card-header">
                                <h3>Imagem</h3>
                            </div>

                            <div class="form-group">
                                <input type="file" name="image" class="input-total">
                                <label for="category">Categoria do artigo</label>
                                <select class="" name="category" required>
                                    <% categories.forEach((category) => { %>
                                        <option value="<%= category.id %>"><%= category.title %></option>
                                    <% }) %>
                                </select><br>
                            </div>
                        </div>
                    </div>
        
                </form>
                <hr>
                

                    
                
            </div>
        </nav>

    </div>


    

</body>

<%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: "#article",
        plugins: 'image link lists table code textcolor media emoticons preview',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons',
        language: 'pt_BR',
        skin: "oxide-dark",
        content_css: "dark"
    });
</script>
