<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    
    
    
    <div class="container">
        <hr>
        <div class="card col-12 col-md-6">
            <div class="card-header">
                <h3>Edição de categoria</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <label for="title">Categoria</label><br>
                    <input type="text" name="title" class="form-control" value="<%= category.title %>" required><br>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs') %>