
<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/homenavbar.ejs') %>

   
    <div class="container">

        <img src="<%= article.image %>" alt="<%= article.title %>">
        <h2><%= article.title %></h2>
        <p><%- article.body %></p>


    </div>
    
</body>

<%- include('partials/footer.ejs') %>
