
<%- include('partials/header.ejs') %>
<body id="kalina">
    <%- include('partials/homenavbar.ejs') %>



    <main>
        <section class="gallery" id="gallery2">
          <div class="image-container">
            <img src="/img/bannerblog.jpg" alt="banner de uma garota">
          </div>
      
          <aside class="text-overlay">
            <h1>My Blog</h1>
            <p>Mantenha-se informado e atualizado com as últimas notícias do mundo, tudo em um só lugar.</p>
          </aside>
        </section>
    </main>



  
    <div class="container">

        <div class="row g-4">
        
            
            <!--Coluna 1-->
            <div class="col-12 col-md-9 ">
                <div class="card p-3" >
                    <h2>Ultimas Postagem</h2>
                    <% articles.forEach(article => { %>
                        <div class="card">
                            <div class="card-header">
                                <h2><%= article.title %></h2>
                            </div>
                            <div class="div card-body">
                                <p><%- article.body.substring(0, 200) %> ...</p>
                                <a href="/<%= article.slug %>" class="btn btn-primary">Leia Mais..</a>
                            </div>
                        </div><br>
                    <% }) %>

                    <div class="row">
                        <div class="col col-12 ">
                            <a style="float: right;" href="/articles/page/2">Next >>></a>
                        </div>
                        
                    </div>
                </div>
                

            </div>
             <!--Coluna 2 categoria-->
            <div  class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header ">
                        <h3>Categorias</h3>
                    </div>
                    <div class="card-body">
                        <% categories.forEach(category => { %>
                            <a class="" href="/category/<%= category.slug %>"><%= category.title %></a><br>
                            
                        <% }) %>
                    </div>
                </div><br>
                <!--Coluna 2 ADS-->
                <div class="card">
                    <div class="card-header ">
                        <h3>Anúncio</h3>
                    </div>
                    <div class="card-body">
                        <img src="/img/bannerads.png" alt="Baner Anuncio" class="desktop-image">
                        <img src="/img/banneradsmobile.png" alt="Baner Anuncio mobille" class="mobile-image">
                    </div>
                </div><br>
                <!--Coluna 2 Noticias-->
                <div class="card">
                    <div class="card-header ">
                        <h3>Noticias</h3>
                    </div>
                    <div class="card-body">
                        <% articles.forEach(article => { %>
                            
                            <a class="" href="/<%= article.slug %>"><%- article.title.substring(0, 20) %> ...</a><br>
                            <p><%- article.body.substring(0, 60) %> ...</p><hr>
                            
                        <% }) %>
                    </div>
                </div>

                
                
                
            </div>


    
        </div>

    </div>
    <a href="#">ola</textarea></a>
    
</body>

<%- include('partials/footer.ejs') %>


<!--

<div class="header row m-2 m-2">
 <div class="col-12 col-md-6 align-self-center">
Coluna para Respostas 
<div class="col-md-3">
    <div class="card p-3 mb-2">

-->