
<%- include('partials/header.ejs') %>
<body id="kalina">
    <%- include('partials/homenavbar.ejs') %>


<!--Carrosel-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/img-02.jpg" class="d-block w-100" alt="banner 01">
            <div class="carousel-caption d-none d-md-block">
                <h5>Confira My Blog</h5>
                <p>Um blog de tudo um pouco para conferir</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/img-03.jpg" class="d-block w-100" alt="banner 02">
            <div class="carousel-caption d-none d-md-block">
                <h5>Fique por dentro de tudo com o My BLOG</h5>
                <p>Um blog feito para você se atualizar diariamente</p>
            </div>
        </div>
    </div>
    <!-- Botões de controle (próximo e anterior) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Voltar</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div><br><br>
<!--Carrosel final-->


  
    <div class="container">

        <div class="row g-4">
        
            
            <!--Coluna 1-->
            <div class="col-12 col-md-9 ">
                <div class="card p-3" >
                    <h2>Ultimas Postagem</h2>
                    <% articles.forEach(article => { %>
                        <div class="card">
                            <div class="card-header">
                                <h2><%= article.title %></h2>
                            </div>
                            <div class="div card-body">
                                <p><%- article.body.substring(0, 200) %> ...</p>
                                <a href="/<%= article.slug %>" class="btn btn-primary">Leia Mais..</a>
                            </div>
                        </div><br>
                    <% }) %>

                    <div class="row">
                        <div class="col col-12 ">
                            <a style="float: right;" href="/articles/page/2">Next >>></a>
                        </div>
                        
                    </div>
                </div>
                

            </div>
             <!--Coluna 2 categoria-->
            <div  class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header ">
                        <h3>Categorias</h3>
                    </div>
                    <div class="card-body">
                        <% categories.forEach(category => { %>
                            <a class="" href="/category/<%= category.slug %>"><%= category.title %></a><br>
                            
                        <% }) %>
                    </div>
                </div><br>
                <!--Coluna 2 ADS-->
                <div class="card">
                    <div class="card-header ">
                        <h3>Anúncio</h3>
                    </div>
                    <div class="card-body">
                        <img src="/img/bannerads.png" alt="Baner Anuncio">
                    </div>
                </div><br>
                <!--Coluna 2 Noticias-->
                <div class="card">
                    <div class="card-header ">
                        <h3>Noticias</h3>
                    </div>
                    <div class="card-body">
                        <% articles.forEach(article => { %>
                            
                            <a class="" href="/<%= article.slug %>"><%- article.title.substring(0, 20) %> ...</a><br>
                            <p><%- article.body.substring(0, 60) %> ...</p><hr>
                            
                        <% }) %>
                    </div>
                </div>

                
                
                
            </div>


    
        </div>

    </div>
    
</body>

<%- include('partials/footer.ejs') %>


<!--

<div class="header row m-2 m-2">
 <div class="col-12 col-md-6 align-self-center">
Coluna para Respostas 
<div class="col-md-3">
    <div class="card p-3 mb-2">

-->