<%- include('../../partials/header.ejs') %>
<body>
    <div class="row">
        <%- include('../../partials/navbar.ejs') %>
        <nav class="menu  col">
            <div class="logout-menu space">
                <h1>Usuários</h1>
                <div class="col-12 col-md-3">
                    <a class="btn btn-primary" href="/admin/users/create"  >Novo usuário </a>
                </div>
                <a href="/logout" class="nav-link">Logout</a>    
            </div>
            <div class="container">
                <div class="tabela-article space">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <tr>
                                        <td><%= user.id %></td>
                                        <td><%= user.email %></td>
                
                                    
                                    <td>
            
                                        <a  href="" class="btn btn-warning" >Editar</a>

                                    </td>
                                    <td>
                                        <form method="POST" id="btnEdition" action="/users/delete" style="display: inline;" onsubmit="confirmarDelect(event, this )">
                                            <input type="hidden" name="id" value="<%= user.id %>">
                                            <button class="btn btn-danger">Deletar</button>   
                                        </form>

                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>

            </div>
        </nav>
    </div>

</body>

<%- include('../../partials/footer.ejs') %>

<script>
    function confirmarDelect(event, form){
        event.preventDefault();
        var decision = confirm("Deseja deletar este Usuário?");
        if(decision){
            form.submit();
        }
    }
</script>